@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@font-face {
	font-family: "Homemade Apple";
	src: url("/fonts/Homemade-Apple/HomemadeApple-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lora";
	src: url("/fonts/Lora/Lora-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lora";
	src: url("/fonts/Lora/Lora-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Lora";
	src: url("/fonts/Lora/Lora-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lora";
	src: url("/fonts/Lora/Lora-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Lora";
	src: url("/fonts/Lora/Lora-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lora";
	src: url("/fonts/Lora/Lora-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Lora";
	src: url("/fonts/Lora/Lora-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lora";
	src: url("/fonts/Lora/Lora-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	/* Colores propios de la web */

	/* TEXTO */
	--color-texto-oscuro-500: #003049;
	--color-texto-claro-500: #ffffff;
	--color-texto-comp-500: #669bbc;
	/* FONDO */
	--color-beige-500: #ddd6cc;
	--color-celeste-500: #669bbc;
	--color-azul-500: #003049;
	--color-gris-500: #bdbdbd;
	/* FUENTES */
	--font-cursiva: "Homemade Apple", cursive;
	--font-cuerpo: "Lora", serif;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
